html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*this centers the text above 800px */

main {
  max-width: 800px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#header-styling {
  text-align: center;
  background-color: indigo;
  color: white;
}

header a {
  color: indigo;
  background-color: white;
  padding: 5px;
  margin: 0px 3px;
  border-radius: 10px;
  text-decoration: none;
}

.profession::after {
  content: " 🐢";
}

a:link {
  background-color: white;
}

a:visited {
  color: indigo;
}

a:hover {
  background-color: rgb(177, 79, 246);
  color: white;
  border: 2px solid white;
}

article + article {
  padding: 20px 0px;
  border-top: 2px solid indigo;
}

.standard-padding {
  padding: 20px 10px;
}

::selection {
  background-color: rgb(177, 79, 246);
  color: white;
}
