html {
  box-sizing: border-box;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  scroll-padding-top: 152px; /*this adds padding to account for the fixed header*/
}

/*this centers the text above 800px */

main {
  max-width: 800px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-family: inherit;
}

#header-styling {
  text-align: center;
  background-color: indigo;
  color: white;
  /*this fixes the header on top*/
  position: sticky;
  top: 0;
  z-index: 999;
}

#hire-me {
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: hotpink;
  border-radius: 5px;
  padding: 6px;
}

header > p > a {
  color: indigo;
  background-color: white;
  padding: 8px;
  border-radius: 5px;
  text-decoration: none;
  top: -250px;
}

header > p {
  margin-top: 20px;
}

header a + a {
  margin-left: 10px;
}

main > article {
  padding: 20px 20px;
  position: relative;
}

article > h2 {
  position: relative;
  left: -20px;
}

main article + article {
  border-top: 2px solid indigo;
  margin-top: 20px;
}

/*putting the heading and subheading inline*/

.experience-heading {
  display: inline;
}

.experience-subheading {
  display: inline;
  margin-left: 0.7rem;
}

a:link {
  background-color: white;
}

a:visited {
  color: indigo;
}

a:hover {
  background-color: rgb(177, 79, 246);
  color: white;
  border: 2px solid white;
}

::selection {
  background-color: rgb(177, 79, 246);
  color: white;
}

.profession::after {
  content: " 🐢";
}

.standard-padding {
  padding: 10px 10px;
}
